@charset "utf-8";

html {
    /* ブラウザのデフォルトが16px                        */
    /* デフォルトの16pxの代わりに1emが10pxになるように調整 */
    font-size: 62.5%;
  }

body{
    line-height: 1.5em;
    font-size:1rem; /* 20px */
    text-align: center;
    background-image:url(../img/bangladesh1.jpg);
    background-size: cover;
    background-attachment:fixed;
}

h1 {
    margin: 1em 0em 0em 0em;
    padding: 0em;
    color: rgb(26, 212, 212);
}
h2 {
    margin: 1em 0em 0em 0em;
    padding: 0em;
    color: grey;
}

/* テーブル１ */
.table1{
    width: 80%;
    margin: 1em auto 0em;
    border-collapse: separate; /*  セルのボーダー 間隔（かんかく）を空けて表示（ひょうじ） */
    table-layout: auto;
}
.table1 th{ /*thタグに対して*/
    padding-left: 1em;
    padding-right: 1em;
    color: rgb(239, 239, 240);
    background: #fc9c02;/* 背景色（はいけいしょく） */
}  
.table1 td{ /*tdタグに対して*/
    padding-left: 1em;
    padding-right: 1em;
    color: gray;
    background: #fff5e5; /* 背景色（はいけいしょく） */
}

/* テーブル２ */
.table2{
    width: 80%;
    margin: 1em auto 0em;
    border-collapse: collapse; /* セルのボーダー 重ねて（かさねて）表示（ひょうじ） */
    table-layout: auto;
}
.table2 th{ /*thタグに対して*/
    padding-left: 1em;
    padding-right: 1em;
    color: rgb(239, 239, 240);
    background: #fc9c02; /* 背景色（はいけいしょく） */
}
.table2 td {
    padding-left: 1em;
    padding-right: 1em;
    color: gray;
    background: #fff5e5; /* 背景色（はいけいしょく） */
}
.table2 th, .table2 td {
    border: solid 1px rgb(190, 190, 190); /* 線（せん）の太さ（ふとさ）、色（いろ）*/
}

/* テーブル３ */
.table3{
    width: 80%;
    margin: 1em auto 0em;
    border-collapse: collapse;/* セルのボーダー 重ねて（かさねて）表示（ひょうじ） */
    table-layout: auto;
}
.table3 th{ /*thタグに対して*/
    padding-left: 1em;
    padding-right: 1em;
    color: rgb(196, 255, 255);
    background: #fc9c02;/* 背景色（はいけいしょく） */
}
.table3 td {
    padding-left: 4em;
    padding-right: 4em;
    color: gray;
    background: #fff5e5;/* 背景色（はいけいしょく） */
}
.table3 th, .table3 td {
    border: solid 0.2em rgb(255, 255, 255);/* 線（せん）の太さ（ふとさ）、色（いろ）*/
}

/* テーブル４ */
.table4{
    width: 80%;
    margin: 1em auto 0em;
    border-collapse: separate;/*  セルのボーダー 間隔（かんかく）を空けて表示（ひょうじ） */
    border-spacing: 0;
    table-layout: auto;
}
.table4 th:first-child{
    border-radius: 0.5em 0 0 0;
}  
.table4 th:last-child{
    border-radius: 0 0.5em 0 0;
    border-right: 0.1em solid #3c6690;/* 線（せん）右側（みぎがわ）の太さ（ふとさ）、色（いろ）*/
}  
.table4 th{
    width: auto;
    padding: 0.5em 0;
    border-left: 0.1em solid #3c6690;
    border-top: 0.1em solid #3c6690;
    border-bottom: 0.1em solid #3c6690;
    color:white;
    text-align: center;
    background: linear-gradient(#829ebc,#225588);
    box-shadow: 0em 0.1em 0.1em rgba(255,255,255,0.3) inset;
}
.table4 td{
    width: auto;
    padding: 0.5em 0;
    border-left: 0.1em solid #a8b7c5;
    border-bottom: 0.1em solid #a8b7c5;
    border-top:none;
    color:gray;
    text-align: center;
    background: whitesmoke;
    box-shadow: 0 -0.3em 0.5em 1em #eee inset;
}
.table4 td:last-child{
    border-right: 0.1em solid #a8b7c5;
}
.table4 tr:last-child td:first-child {
    border-radius: 0 0 0 0.5em;
}
.table4 tr:last-child td:last-child {
    border-radius: 0 0 0.5em 0;
}

/* テーブル５ */
.table5{
    width: 80%;
    margin: 1em auto 0em;
    border-collapse: collapse;/* セルのボーダー 重ねて（かさねて）表示（ひょうじ） */
    table-layout: auto;
}
.table5 th{
    width: 30%;
}
.table5 th, .table5 td{
    padding: 0.5em 0;
    border: solid 0.1em #fff;
    color: white;
    text-align: center;
}
.table5 tr{
    background-image: linear-gradient(40deg, #fce043 0%, #fb7ba2 74%);
}
.table5 tr:last-child *{
    border-bottom: none;
}

/* テーブル６ */
.table6{
    width: 80%;
    margin: 1em auto 0em;
    border-collapse: collapse;/* セルのボーダー 重ねて（かさねて）表示（ひょうじ） */
    table-layout: auto;
}

.table6 th, .table6 td{
    width: 30%;
    padding: 0.5em 0;
    text-align: center;
}

.table6 tr:nth-child(odd){
    background: #aeebff;
}
.back{
    margin-top: 8px;
    text-align: left;
    }
    #btn99{
    margin-top: 8px;
    padding: 12px;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 24px;
    background: rgb(248, 69, 209);
    cursor: pointer; 
    }